---
layout: base
title: Writeups - citharus
---

<div class="grid gap-x-4 gap-2 grid-cols-[repeat(auto-fit,_minmax(20rem,_1fr))]">
    {% for p in site.pages %}
        {% if p.path == page.path %}
        {% elsif p.path contains "writeups" %}
            <div class="inline-block w-auto p-2 border-2 rounded-md">
                <span class="flex justify-between">
                    <a href="{{ p.path | replace: ".md", "" | relative_url }}">
                        <h3 class="text-lg font-medium inline">{{ p.title }}</h3>
                    </a>
                    <span class="mt-auto text-sm">{{ p.date }}</span>
                </span>
                <p>{{ p.description }}</p>
                {% include tags.html tags=p.tags %}
            </div>
        {% endif %}
    {% endfor %}
</div>
